<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net461" />
  <package id="CircularProgressBar" version="2.7.0.7" targetFramework="net461" />
  <package id="dot-net-transitions" version="1.2.1.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.45.0" targetFramework="net461" />
  <package id="Google.Apis.Drive.v2" version="1.43.0.1835" targetFramework="net461" />
  <package id="Google.Apis.Drive.v3" version="1.42.0.1750" targetFramework="net461" />
  <package id="Google.Apis.Gmail.v1" version="1.45.0.1950" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1400.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net461" />
  <package id="MimeKit" version="2.7.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="Spire.Doc" version="8.2.4" targetFramework="net461" />
  <package id="Tulpep.NotificationWindow" version="1.1.25" targetFramework="net461" />
  <package id="WhatsAppAPI" version="15.4.29" targetFramework="net461" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net461" />
</packages>